<!DOCTYPE html>
<html>
<head>
  <title>CnetCom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<div>
	<ul class="nav nav-pills pull-right">
		<li><%= link_to "Home", root_url, class:"btn btn-erik"%> &nbsp &nbsp</li>

		<li><%= link_to "Customers Controller", customers_url, class:"btn btn-erik"%>  &nbsp</li>
		<li><%= link_to "Bills Controller", bills_url, class:"btn btn-erik"%> &nbsp &nbsp</li>
		<li><%= link_to "Customers List", customer_list_url, class:"btn btn-erik"%> &nbsp &nbsp</li>
		<li><%= link_to "Bills List", bill_list_url, class:"btn btn-erik"%> &nbsp &nbsp</li>


		<li><%= link_to "About", about_url, class:"btn btn-erik"%></li>
	</ul>
</div>
<br>
	<div style="background-color:#19355E">
		<h1><%= link_to "CNET COMMUNICATION", root_url %><small>//Gateway to the world</small></h1>

	<hr color="blue">
		
</div>
	

<%= yield %>

</body>
</html>
